body{
    font-family: "Arial";
}

.menu {
    overflow: hidden;
    background-color: #000;
}

.menu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: #000;
}

.menu a.active {
    background-color: #ee3e3d;
    color: #fff;
}

.menu .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu a {display: none;}
    .menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.toggle {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F0F0F0;
    color: #000;
}

h1{
    font-size: 40px;
}

.tlacitko {
    background-color: #ee3e3d;
    border: none;
    color: #fff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tlacitko:hover {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #000;
}

textarea {
    font-family: 'Arial';
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    resize: none;
}

textarea:focus {
    border: 3px solid #000;
}

input[type=submit]{
    background-color: #ee3e3d;
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px 2px;
    cursor: pointer;
}
